*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.main{
    background-color: #fff;
    height: 200vh;
}
.whole{
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.logod{
    color: orange;
    padding-left: 30px;
    padding-top: 15px;
    text-transform: uppercase;
}
.menu{
    width: 35%;
    margin-top: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
}
.menu ul a li{
    list-style: none;
    padding: 2px 10px;
}
.menu ul a:hover{
    border: 0.5px solid rgb(194, 192, 192);
    border-radius: 20px;
    background-color: orange;
}
.menu ul a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.menu ul li a:hover{
    color: green;
}
.form{
    margin-top: 20px;
    margin-right: 20px;
}
.search{
    font-size: large;
    width: 120px;
    border-radius: 5px;
    padding: 2px;
    border-color: orange;
}
.btn{
    font-size: large;
    background: transparent;
    color: black;
    width: 43px;
    border-color: orange;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
}
.products{
    font-weight: 700;
    color: orange;
}
.p{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.images{
    width: 90%;
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;

}
.images  :hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}
.scroll{
    width: 25%;
    height: 400px;
    border: 1px solid rgb(240, 196, 114);
    margin-top: 50px;
    border-radius: 25px;
    border-width: 1px;
    cursor: pointer;
    position: relative;
}

.not{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding: 2px;
    border-bottom: none;
}
img{
    width: 250px;
    height: 250px;
    border: 0.5px solid rgb(223, 220, 220);
    border-radius: 25px;
    margin-top: 6px;
    transition: all .3s ease;
    object-fit: cover;
}
img:hover{
    scale: 1.02;
}
.list{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
.list ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.list ul li{
    padding-left: 10px;
}
.list ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: gray;
}
.button{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    justify-self: end;
    bottom: 10px;
    left: 23%;
    position: absolute;
    background-color: orange;
    width: 55%;
    border: 0.5px solid wheat;
    border-radius: 25px;
}
.button a{
    text-decoration: none;
    font-size: 1.5em;
    color: #000;
}